@import "normalize";
@import "typography";
@import "variables";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bgPrimaryColor);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColor);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 160px);
}
