:root {
  --font: Roboto, sans-serif;
  --textColor: #374961;
  --linkActiveColor: #41b783;

  --white: #ffffff;
  --textTitleColor: #5f5f5f;
  --btnPrimaryColor: #519945;
  --bgPrimaryColor: #545454;
  --bgSecondaryColor: #474747;
  --bgTitleCardColor: #a5a5a5;
  --bgCardColor: #c3c3c3;
}
